<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link href="https://fonts.googleapis.com/css?family=Paytone+One|Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body class="{{season}}">

  <header>
    <div>
      <h1 class="home-title">{{title}}</h1>
    </div>

    <nav class="nav-bar">
      <div class="main-menu">
        <a href="/">Home</a>
        <a href="/recipe-list">Recipes</a>
      </div>
      {{!-- 
      <input type="text" id="login" placeholder="Type here">
     js file : 
      $(document).ready(function() {
        $("#login").focus(); 
        $('#login').keypress(function(event) {
          var key = (event.keyCode)
        } --}}
      {{!-- 
      }) --}}

      {{#if currentUser}}
      <b>{{currentUser.email}}</b>
      <div>
        <a href="/logout">Log Out</a>
      </div>
      {{else}}
      <div class="active">
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
      </div>
      {{/if}}
    </nav>
  </header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>