<section class="one-recipe">
  <div class="div1-oneRecipe">
    <h2>{{recipeItem.title}}</h2>
  </div>
  <div class="div2-oneRecipe">
    <div class="level-duration-ingredients">
      <p class="level">Level:</p>
      <p>{{recipeItem.level}}</p>
      <p class="duration">Duration:</p>
      <p>{{recipeItem.duration}} min</p>

      <p class="ingredients">Ingredients:</p>
      <ul>
        {{#each recipeItem.ingredients}}
        <li class="type-sidelines"><span>{{this}}</span></li>
        {{/each}}
      </ul>
    </div>
    <div class="onerecipe-img">
      <img src="{{recipeItem.image}}" alt={{recipeItem.title}}>
    </div>
  </div>

  <div>
    <ol>
      {{#each recipeItem.description}}
      <li class="type-sidelines"><span>{{this}}</span></li>
      {{/each}}
    </ol>
  </div>
</section>