<h2>Recipes</h2>

 <section class="recipe"> 
{{#each recipeSchema}}
    <div> 
      <h2>{{this.title}}</h2>

      <p>{{this.level}}</p>
      <p>{{this.ingredients}}</p>
      <img src="{{this.image}}" alt="">
      <p>{{this.duration}}</p>
    </div>
 {{/each}}

  </section>







<ul>
  
</ul>
