<h3>Recipes</h3>
<section class="recipes">

{{#each recipeSchema}}
<div>>
      <h2>{{this.title}}</h2>
      <img src="{{this.image}}" alt=""></a>
      <p>{{this.level}}</p>
      <p>{{this.duration}}minutes</p>
      <p>{{this.ingredients}}</p>
</div>
{{/each}}
</section>