<section class="one-recipe">

    <h2>{{recipeItem.title}}</h2>
    <img src="{{recipeItem.image}}" alt={{recipeItem.title}}>
    <p>{{recipeItem.level}}</p>
    <p>{{recipeItem.duration}}</p>
    <p>{{recipeItem.ingredients}}</p>
    <p>{{recipeItem.description}}</p>

</section>