<!-- <section class="home">

      <h2>All {{season}} recipes</h2>
      <section>

            <section class="recipes">

                  {{#each recipeSchema}}
                  <div class="polaroid">
                    <a href="/recipe-one/{{this._id}}"><p>{{this.title}}</p>
                    <img src="{{this.image}}" alt=""/></a>
                  </div>
                  {{/each}}

            </section>
      </section>
</section> -->

<!-- <section class="home">
 <h2>All {{season}} recipes</h2>

<section class="produces"> 

    {{#each recipeSchema}}  
      <div class="container-prod shadow">
      <a href="/recipe-one/{{this._id}}">
        <img src="{{this.image}}" class="image">
        </a>
        <div class="overlay">
          <div class="text">{{this.title}}</div>
        </div>
      </div>
    {{/each}}

  </section>
  </section> -->


<h2>All {{season}} recipes</h2>

<div class="container">
  {{#each recipeSchema}}  
  <div>
    <a href="/recipe-one/{{this._id}}">
    <span>{{this.title}}</span>
    <img src="{{this.image}}" alt="">
    </a>
  </div>
   {{/each}}
  
</div>