<section class="one-recipe">
    <div class="div1-oneRecipe">
      <h2>{{recipeItem.title}}</h2>
      <img src="{{recipeItem.image}}" alt={{recipeItem.title}}>
    </div>
    <div class="div2-oneRecipe">
      <p>Level: {{recipeItem.level}}</p>
      <p>{{recipeItem.duration}} min</p>

      <ul>
        Ingredients:
      {{#each recipeItem.ingredients}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
    </div>

    <div>
      <p>{{recipeItem.description}}</p>
    </div>
</section>