<h2>Recipes</h2>

<<<<<<< HEAD
<div class="list-recipes">

</div>
=======
 <section class="recipe"> 
{{#each recipeSchema}}
    <div> 
      <h2>{{this.title}}</h2>
>>>>>>> 94f3883278d3b4cb9cc2a3ce963f547d19a035fd

      <p>{{this.level}}</p>
      <p>{{this.ingredients}}</p>
      <img src="{{this.image}}" alt="">
      <p>{{this.duration}}</p>
    </div>
 {{/each}}

  </section>







<ul>
  
</ul>
